<div>
    <label>Articulos </label><%= @articulos.id %>
    <br/>
    <label>descripcion </label><%= @linea.linea %>
    <p><a href="/linea">Registro de líneas</a></p>
    <p><a href="/">Menú Principal</a></p>
</div>