

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

<div class="card-panel light-blue lighten-1"><h3 class="center-align">Edición de articulos</h3></div>

<div >
    <% @articulos.each do |dato| %>
    <form action="/editar/<%= dato[:id] %>" method="post" accept-charset="utf-8"><input type="hidden" name="_method" value="put">
    <div class="row">    
      <div class="input-field col s12">
        <label> Marca: </label> <br>
      </div>    
      <div class="input-field col s3">
        <input type="text" name="marca" value= "<%= dato[:marca] %>"  class="validate" maxlength=15>      
      </div>    
      <div class="input-field col s12">
        <label>Descripcion:</label><br>
      </div>    
      <div class="input-field col s3">
        <input type="text" name="descripcion" value= "<%= dato[:descripcion] %>" id="descripcion" class="validate" maxlength=30>
      </div>    
      <div class="input-field col s12">
        <label>Precio:</label><br>
      </div>    
      <div class="input-field col s3">
        <input type="text" name="precio" value= "<%= dato[:precio] %>"  id="precio" class="validate" maxlength=30>
      </div>    
    </div>
    <% end %>       
    <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
    
  </button><br><br>
    </form>
    <a class="waves-effect waves-light btn" href="/articulos/all">Regresar </a></a>
</div>
