<div>
    <p>Editar el siguiente producto: </p>      

     <form action="/editar/5" method="post" accept-charset="utf-8">
       <input type="hidden" name="_method" value="put">
    </div>
    <% @articulos.each do |dato| %>
       <label>Marca: </label><input type="text" name="marca" placeholder= "<%= dato[:marca] %>" id="marca" class="" maxlength=15>
      <br/><br/>
      <label>Descripcion: </label><input type="text" name="descripcion" id="descripcion" placeholder= "<%= dato[:descripcion] %>" class="" maxlength=30>
      <br/><br/>      
      <label>Precio: </label><input type="text" name="precio" id="precio" placeholder= "<%= dato[:precio] %>" class="" maxlength=30>
      <br/><br/>      
    <% end %>       
       <input type="submit" value="Guardar"/>
    </form>
    <p><a href="/">Menú Principal</a></p>
