  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
        
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><img src=" http://intranet.utn.ac.cr/sites/default/files/LogoUTN-135.png" alt="Smiley face" height="65" width="65"></div>
</nav>


<h3>Menú Principal De Libreria</h3>
<div class="collection">
    <a href="/articulos" class="collection-item">Registro de Productos</a>
    <a href="/articulos/all" class="collection-item ">Listado de Productos</a>
</div>

