<div>
    <form action="/articulos" method="post" accept-charset="utf-8">
      <label>Marca </label><input type="text" name="marca" id="marca" class="campo_entrada" maxlength=4>
      <br/><br/>
      <label>Descripcion </label><input type="text" name="descripcion" id="descripcion" class="campo_entrada" maxlength=30>
      <br/><br/>
       <label>Precio </label><input type="text" name="precio" id="precio" class="campo_entrada" maxlength=30>
		<br/>   <br/>  
      <input type="submit" value="Guardar"/>
    </form>
    <p><a href="/">Menú Principal</a></p>
</div>
